:root {
    --white: hsla(0, 0%, 100%, 1);
    --white-transparent: hsla(0, 0%, 100%, .65);
    --light-gray: hsla(0, 0%, 95%, 1);
    --medium-gray: hsla(0, 0%, 85%, 1);
    --body-link-color: hsla(226, 56%, 64%, 1);
    --body-link-hover-color: hsla(227, 35%, 52%, 1);
    font-size: 16px;
}

/*-----Fonts-----*/
/* font-family: 'Righteous', cursive;
font-family: 'Raleway', sans-serif; */

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p,
a {
    font-size: 1.15rem;
}

/*-----Document-Wide Styles-----*/

* {
box-sizing: border-box;
font-family: 'Raleway', sans-serif;
line-height: 1.5;
list-style: none;
margin: 0;
padding: 0;
scroll-behavior: smooth;
text-decoration: none;
}

body {
    background: var(--light-gray);
    display: flex;
    flex-direction: column;
    height: 100%;
}

body::-webkit-scrollbar {
    width: .5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--body-link-hover-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--body-link-color);
    border-radius: 10px;
    outline: 1px solid var(--body-link-hover-color);
}

textarea::-webkit-scrollbar {
    width: .5em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--body-link-hover-color);
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--body-link-color);
    border-radius: 10px;
    outline: 1px solid var(--body-link-hover-color);
}

a {
    color: var(--body-link-color);
    text-decoration: underline;
    transition: color .25s ease;
}

a:hover {
    color: var(--body-link-hover-color);
}

h1,
h2 {
    font-family: 'Righteous', sans-serif;
}

hr {
    margin: 30px auto;
    width: 80%;
}

/*-----Header Styles-----*/

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.header{
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    height: 100vh;
    padding: 10px;
}

.banner {
    animation: fadein 1.5s;
    align-items: center;
    color: var(--white);
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.profile-img {
    border-radius: 100%;
    box-shadow: inset 0px 4px 4px hsla(0, 0%, 0%, .3);
    margin-bottom: 25px;
    max-width: 50%;
}

.title {
    text-align: center;
}

.tag-line {
    animation-delay: 3s;
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
}

.nav-bar {
    margin-top: 75px;
}

.nav-list {
    display: flex;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item a {    
    color: var(--white-transparent);
    text-decoration: none;
    transition: color .5s ease,
                border .05s ease;
}

.nav-item a:hover {
    border-bottom: 2px solid var(--white);
    color: var(--white);
}

.social-nav-list {
    display: flex;
    margin: 0 auto;
    /* width: 60%; */
}

.nav-social-links {
    margin: 15px auto 0 auto;
    justify-content: space-around;
    text-align: center;
}

/*-----Main Content Styles-----*/

.main-content {
    grid-template-rows: auto;
    margin: 0 auto;
    text-align: center;
    width: 95%;
}

.section-title {
    padding-top: 50px;
    text-align: center;
}

.content-container {
    align-items: center;
    background: var(--white-transparent);
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10),
            0 3px 6px rgba(0, 0, 0, 0.17);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 50px auto;
    padding: 25px 15px;
    text-align: center;
    width: 90%;
}

.skills-container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.language-logo {
    padding-top: 10px;
    padding-bottom: 25px;
    width: 37.5%;
}

.work-projects-container {
    margin-bottom: 25px;
}

.work-projects-container:last-child {
    margin-bottom: 0;
}

.work-img-container {
    width: 100%;
}

.work-img {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10),
                0 3px 6px rgba(0, 0, 0, 0.17);
    width: 100%;
}

.work-title {
    margin-top: 10px;
}

.work-links-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12.5px;
    margin-bottom: 50px;
}

.work-links-container:last-child {
    margin-bottom: 0;
}

.work-links {
    padding: 5px;
}

.blog-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.blog-container {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 25px;
}

.blog-container:last-child {
    margin-bottom: 0;
}

.blog-img {    
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10),
    0 3px 6px rgba(0, 0, 0, 0.17);
    width: 100%;
}

.form-style {
    margin: 10px auto;
    min-width: 100%;
    max-width: 100%;
    padding: 16px;
    text-align: left;
}

.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style textarea,
.form-style select {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    border-radius: 8px;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
}

.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style textarea:focus,
.form-style select:focus {
	box-shadow: 0 0 5px var(--body-link-color);
	padding: 3%;
	border: 1px solid var(--body-link-color);
}

.form-style input[type="submit"],
.form-style input[type="button"]{
    border-radius: 8px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: var(--body-link-color);
	border-bottom: 2px solid var(--body-link-color);
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
    color: #fff;
    transition: background .25s ease-in-out;
    cursor: pointer;
    font-size: 1.25rem;
}

.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover{
    background: var(--body-link-hover-color);
}

.g-recaptcha {
    margin: 0 auto;
    min-width: 100%;
    max-width: 100%;
}


.footer {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer a {
    margin: 5px 0;
}

#back-to-top-btn {
    background: var(--body-link-color);
    border-radius: 7px;
    color: var(--white);
    padding: 5px 10px;
    transition: all .25s ease;
}

#back-to-top-btn:hover {
    background: var(--body-link-hover-color);
}

/*-----Media Queries-----*/

@media screen and (max-width: 524px) {
    .footer {
        align-content: center;
        flex-flow: column wrap;
        text-align: center;
    }
}

@media screen and (min-width: 719px) {

    :root {
        font-size: 20px;
    }

    .profile-img {
        max-width: 25%;
    }

    .main-content {
        max-width: 2560px;
        width: 80%;
    }

    .language-logo {
        margin: 0 auto;
        max-width: 37.5%;
    }

    .goals-description {
        margin: 0 auto;
        text-align: center;
        width: 85%;
    }    

    #work-content-container {
        padding-right: 0;
    }

    .work-img {
        filter: saturate(25%);
        transition: filter .25s ease-in-out;
    }

    .work-img:hover {
        filter: saturate(100%);
    }

    .blog-img {
        filter: saturate(25%);
        transition: filter .25s ease-in-out;
    }

    .blog-img:hover {
        filter: saturate(100%);
    }

    #blog {
        padding-left: 0;
    }
}

@media screen and (min-width: 1021px) {

    :root {
        font-size: 24px;
    }

    .form-style input[type="text"],
    .form-style input[type="date"],
    .form-style input[type="datetime"],
    .form-style input[type="email"],
    .form-style input[type="number"],
    .form-style input[type="search"],
    .form-style input[type="time"],
    .form-style input[type="url"],
    .form-style textarea,
    .form-style select {
        font-size: 1.25rem;
    }

    .form-style input[type="submit"],
    .form-style input[type="button"] {
        font-size: 1.5rem;
}

    .profile-img {
        max-width: 15%;
    }

    .section-title > p,
    .goals-description {
        margin: 0 auto;
        width: 60%;
    }

    .language-logo {
        max-width: 15%;
    }

    .work-projects-container {
        display: flex;
        flex-flow: row wrap;
    }    

    .work-img-container {
        height: auto;
        margin-right: auto;
        width: 33%;
    }

    .project-container {
        align-items: center;
        text-align: left;
        width: 66%;
    }

    .work-links-container {
        justify-content: flex-start;
    }

    .blog-container {
        display: flex;
        flex-flow: row wrap;
    }

    .blog-article-container {
        align-items: center;
        text-align: right;
        width: 66%;
    }

    .blog-info {
        font-style: italic;
    }
    
    .blog-img-container {
        height: auto;
        margin-left: auto;
        width: 33%;
    }

    .about-contact-container {
        align-items: baseline;
        display: flex;
        justify-content: center;
    }

    #about {
        width: 40%;
    }

    #contact {
        width: 40%;
    }
}