:root {
    --white: hsla(0, 0%, 100%, 1);
    --white-transparent: hsla(0, 0%, 100%, .65);
    --light-gray: hsla(0, 0%, 95%, 1);
    --medium-gray: hsla(0, 0%, 85%, 1);
    --body-link-color: hsla(226, 56%, 64%, 1);
    --body-link-hover-color: hsla(227, 35%, 52%, 1);
}

/*-----Fonts-----*/
/* font-family: 'Righteous', cursive;
font-family: 'Raleway', sans-serif; */

/*-----Document-Wide Styles-----*/

* {
box-sizing: border-box;
font-family: 'Raleway', sans-serif;
font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
line-height: 1.5;
list-style: none;
margin: 0;
padding: 0;
scroll-behavior: smooth;
text-decoration: none;
}

body {
    background: var(--light-gray);
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    color: var(--body-link-color);
    text-decoration: underline;
    transition: color .25s ease;
}

a:hover {
    color: var(--body-link-hover-color);
}

h1,
h2 {
    font-family: 'Righteous', sans-serif;
}

.content {
    flex: 1 0 auto;
}

/*-----Header Styles-----*/

.header{
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    height: 100vh;
    padding: 10px;
}

.banner {
    align-items: center;
    color: var(--white);
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 3rem;
}

.tag-line {
    color: var(--white);
    text-align: center;
}

.nav-bar {
    margin-top: 75px;
}

.nav-list {
    display: flex;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item a {    
    color: var(--white-transparent);
    text-decoration: none;
    transition: color .5s ease,
                border .05s ease;
}

.nav-item a:hover {
    border-bottom: 2px solid var(--white);
    color: var(--white);
}

/*-----Main Content Styles-----*/

.main-content {
    margin: 0 auto;
    text-align: center;
    width: 95%;
}

.section-title {
    padding-top: 50px;
    text-align: center;
}

.content-container {
    background: var(--white-transparent);
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.17);
    margin: 50px auto;
    padding: 25px 5px;
    text-align: center;
    width: 80%;
}

.skills img {
    padding-top: 10px;
    padding-bottom: 25px;
}

#html {
    width: 70%; /* This logo is a different size, thus a special width modifier */
}

.language-logo {
    width: 50%;
}

.work-links-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12.5px;
    margin-bottom: 50px;
}

.work-links-container:last-child {
    margin-bottom: 0;
}

.work-links {
    padding: 5px;
}

.form-style{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}

.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style textarea,
.form-style select 
{
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    border-radius: 8px;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style textarea:focus,
.form-style select:focus
{
	box-shadow: 0 0 5px var(--body-link-color);
	padding: 3%;
	border: 1px solid var(--body-link-color);
}

.form-style input[type="submit"],
.form-style input[type="button"]{
    border-radius: 8px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: var(--body-link-color);
	border-bottom: 2px solid var(--body-link-color);
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
    color: #fff;
    transition: background .25s ease-in-out;
    cursor: pointer;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover{
    background: var(--body-link-hover-color);
}


.footer {
    flex-shrink: 0;
    text-align: center;
}

/*-----Media Queries-----*/
@media screen and (min-width: 719px) {
    
}